.active {
  background: rgba(237, 240, 245, 1);
}
.active__line {
  background: linear-gradient(0deg, #2e71f3, #2e71f3),
    linear-gradient(180deg, #6b2feb 0%, #334ffd 100%), #20003e;
}
.wrapperLinks {
  background: #f1f4f8;
}
.wrapperLinks div {
  background: #f1f4f8;
}
.wrapperLinks a {
  background: #f1f4f8;
}
svg {
  background: inherit;
  color: rgba(0, 0, 0, 0.5);
}

svg path {
  background: inherit;
  fill: rgba(0, 0, 0, 0.5);
}

.svgWrapper svg path {
  background: inherit;
  fill: rgba(0, 0, 0, 1);
}

.open {
  display: block;
}
.close {
  display: none;
}

.avatarblock div {
  background: inherit;
}

.activeSortDate {
  background: #fff !important;
  color: black !important;
  font-weight: 500 !important;
  border: none !important;
}
.up {
  color: rgba(82, 173, 91, 1);
}

.up svg path {
  fill: rgba(82, 173, 91, 1);
}
.down svg path {
  fill: rgba(237, 15, 72, 1);
}
.down {
  color: rgba(237, 15, 72, 1);
}

.iconsInfoBlock svg path {
  fill: rgb(0, 0, 0);
}
.activeInfoblock {
  background: rgba(46, 113, 243, 1) !important;
  align-items: 'center' !important;
  color: #fff !important;
}
.activeInfoblock p {
  color: #fff !important;
}
.activeInfoblock .iconsInfoBlock svg path {
  fill: rgb(255, 255, 255) !important;
}
