*,
::after,
::before {
  list-style: none;
  background: #fff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}
body {
  width: 100%;
  height: 100vh;
}
img {
  background: inherit;
}
